@use './variables';

/* ---------Arrow buttons ------- */
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */
.minyatur__button-container {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.minyatur__button--prev,
.minyatur__button--next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(10vmin, 52px);
  height: min(13vmin, 72px);
  top: 50%;
  transform: translateY(-50%);
  /* background-color: $color-grey-500; */
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  border-radius: 2px;
  opacity: 0.8;
  cursor: pointer;
  align-items: center;
  -webkit-user-select: none;

  &::before {
    position: absolute;
    content: "";
    width: min(5vmin, 30px);
    height: min(5vmin, 30px);
    border-left: min(0.7vmin, 3px) solid var(--color-arrow-inactive);
    border-top: min(0.7vmin, 3px) solid var(--color-arrow-inactive);
    border-radius: 2px;
    transition: all 0.05s;
  }

  &:hover::before {
    width: min(5.3vmin, 32px);
    height: min(5.3vmin, 32px);
    border-left: min(0.9vmin, 4px) solid var(--color-arrow-active);
    border-top: min(0.9vmin, 4px) solid var(--color-arrow-active);
  }
}

.minyatur__button--prev {
  left: 0;
}

.minyatur__button--next {
  right: 0;
}

.minyatur__button--prev::before {
  -ms-transform: rotate(-45deg);
  /*IE 9*/
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  backface-visibility: hidden;
  right: 4px;
}

.minyatur__button--next::before {
  -ms-transform: rotate(135deg);
  /*IE 9*/
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  backface-visibility: hidden;
  left: 4px;
}

.minyatur__button--prev div,
.minyatur__button--next div {
  display: none;
}

.minyatur__button--prev,
.minyatur__button--next {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

@media only screen and (max-width: variables.$responsive-breakpoint-level-1) {
  .minyatur__button-container {
    // display: none;
  }
}