$color-grey-200: rgba(235, 235, 235, 1);
$color-grey-400: rgba(204, 204, 204, 1);
$opacity-backcloth-light: rgba(25, 25, 25, .4);
$opacity-backcloth-dark: rgba(25, 25, 25, .8);
$responsive-breakpoint-level-1: 667px;

/** COLORS **/
/** Theme Colors **/
$color-theme-light: rgba(218, 215, 205, 1);
$color-theme-base: rgba(88, 129, 87, 1);
$color-theme-dark: rgba(52, 78, 65, 1);

$color-theme-second-light: rgba(182, 173, 144, 1);
$color-theme-second-base: rgba(147, 102, 57, 1);
$color-theme-second-dark: rgba(88, 47, 14, 1);
/** End of Theme Colors **/

$color-image-background-color: rgba(35, 35, 37, 1);
$color-zoom-lens: rgba(19, 28, 209, .4);

// Theme Colors
.minyatur {
	--color-theme-light: #{$color-theme-light};
	--color-theme-base: #{$color-theme-base};
	--color-theme-dark: #{$color-theme-dark};

	body.dark-mode {
		--color-theme-light: #{$color-theme-dark};
		--color-theme-base: #{$color-theme-base};
		--color-theme-dark: #{$color-theme-light};
	}

	--color-theme-second-light: #{$color-theme-second-light};
	--color-theme-second-base: #{$color-theme-second-base};
	--color-theme-second-dark: #{$color-theme-second-dark};

	body.dark-mode {
		--color-theme-second-light: #{$color-theme-second-dark};
		--color-theme-second-base: #{$color-theme-second-base};
		--color-theme-second-dark: #{$color-theme-second-light};
	}

	--color-image-background-color: #{$color-image-background-color};
	--color-zoom-lens: #{$color-zoom-lens};

	--color-thumbnail-inactive: #{$color-grey-400};
	--color-thumbnail-hover: #{$color-theme-second-light};
	--color-thumbnail-active: #{$color-theme-base};

	--color-arrow-inactive: #{$color-grey-400};
	--color-arrow-active: #{$color-grey-200};
	
	body.dark-mode {
		--color-image-background-color: #{$color-image-background-color};
		--color-zoom-lens: #{$color-zoom-lens};

		--color-thumbnail-inactive: #{$color-grey-400};
		--color-thumbnail-hover: #{$color-theme-second-dark};
		--color-thumbnail-active: #{$color-theme-base};

		--color-arrow-inactive: #{$opacity-backcloth-dark};
		--color-arrow-active: #{$opacity-backcloth-light};
	}
}
